In [97]:
# oracle을 사용하기 위해 cx_Oracle 설치
# pip install cx_Oracle

In [17]:
import cx_Oracle
import pandas as pd
from sqlalchemy import create_engine, types

In [18]:
dbPrefix = "oracle+cx_oracle"
dbId = "kopo"
dbPw = "kopo"
dbIp = "192.168.110.112"
dbPort = "1521"
dbName = "orcl"

In [19]:
pgEngine = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")

In [20]:
tableName = ["회원정보테이블", "광고메인테이블", "키워드관리테이블", "광고주정보테이블"]

In [21]:
for i in tableName:
    selSelect = """
    SELECT *
    FROM {}
    """.format(i)

    indata = pd.read_sql_query(selSelect, pgEngine)
    tableName = i
    tableName = tableName.lower()
    
    #### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배
    # objectColumns = list(indata.columns[indata.dtypes == 'object'])
    allColumns = list(indata.columns[:])
    
    typeDict={}
    maxLen = 100
    
    for column in allColumns:
        if indata[column].dtype == 'float64':
            typeDict[column] = types.FLOAT
        elif indata[column].dtype == 'int64':
            typeDict[column] = types.NUMERIC
        else:
            typeDict[column] = types.VARCHAR(100) 
    
    dbPrefix = "oracle+cx_oracle"
    dbId = "yukyung"
    dbPw = "yukyung"
    dbIp = "192.168.110.111"
    dbPort = "1521"
    dbName = "orcl"    
    engineLocal = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")
    
    indata.to_sql(name=tableName, if_exists="replace", con=pgEngineLocal,dtype=typeDict, index=False)